@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
* {
  margin: 0%;
  padding: 0%; }

.bg-light {
  background-image: linear-gradient(to top, #9BCBC7, white); }

@media (max-width: 768px) {
  h1 {
    font-size: 22px; }
  .text__nos--reseña, body h1, h2, .body__serv--text, .titulo__nos {
    font-size: 15px; }
  .carru {
    width: 50px;
    height: auto; } }

.container-fluid {
  margin: 0px;
  padding: 0px; }

.navbar {
  margin: 0px;
  padding: 0px; }

nav.navbar.navbar {
  display: flex;
  justify-content: center;
  align-items: center; }

.navbar-nav {
  margin: 0px;
  padding: 0px;
  background-color: #9BCBC7;
  font-size: 20px; }

.nav-item {
  padding: 0px;
  align-items: center; }

.redes {
  display: flex;
  align-items: flex-end;
  padding: 10px; }

.dropdown-menu {
  background-color: #9BCBC7; }

body {
  background-color: #9BCBC7;
  margin: 0px;
  padding: 0px; }
  body h1 {
    font-family: 'Rouge Script', cursive;
    font-size: 80px;
    color: white;
    text-align: center;
    margin: 0px; }

h2 {
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
  text-align: center; }

.Carru {
  margin: 5px;
  padding: 5px; }

.carousel-item {
  width: 800px;
  height: 500px;
  text-align: center; }

.fondo {
  background-image: url("../img/fondo.png"); }

.body__nos {
  background-image: url("../img/fondo.png");
  margin: 5px;
  padding: 5px; }

.body__nos--title {
  padding: 0px;
  margin: 0px;
  animation-duration: 2s;
  animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.body__serv {
  background-color: teal;
  animation-duration: 2s;
  animation-name: aparecer; }

.body__serv--text {
  color: white;
  font-size: 15px;
  text-align: center; }

.barra {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center; }

.text__nos {
  color: black;
  text-align: center;
  font-size: 20px; }

.text__nos--reseña, body h1, h2, .body__serv--text, .titulo__nos {
  animation-duration: 4s;
  animation-name: aparecer; }

footer {
  background-color: #9BCBC7;
  font-family: 'Rouge Script',cursive;
  text-align: center;
  font-size: 20px; }
  footer p {
    text-align: center;
    color: teal; }

.pie__nos {
  background-image: linear-gradient(to top, #9BCBC7, white); }

.pie__nos--text {
  color: teal; }

.card-text {
  text-align: justify; }

#contacto {
  display: flex;
  justify-content: space-around; }

#contacto img {
  width: 400px;
  height: auto; }

#contacto form {
  display: flex;
  flex-direction: column; }

#contacto > div, #contacto > form {
  flex-basis: 20px; }

#contacto form input,
#contacto form textarea {
  margin-bottom: 10px;
  max-width: 200px; }

#contacto form {
  background: #9BCBC7;
  border: 0px;
  margin-top: 0px;
  padding: 3px;
  margin: 0px; }

#contacto form a {
  text-align: center;
  color: white;
  border-radius: 20px; }

#contacto form a:hover {
  color: teal;
  list-style: none;
  text-decoration: none; }
