@import "colores";
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

$ancho: 800px;
$parrafo: derechos;

@mixin sizes($width, $height){
    height: $height;
    width: $width;
}

*{
    margin: 0%;
    padding: 0%;
}
.bg-light {
    background-image: linear-gradient(to top, $fondo, white);
    
    
}

body{
    background-color:$fondo;
    margin: 0px;
    padding: 0px;
     
    h1{
    font-family: 'Rouge Script', cursive;
    font-size: 80px;
    color: white;
    text-align: center;
    margin: 0px;
    @extend.text__nos--reseña;    
}
}
h2{
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    text-align: center;
    @extend.text__nos--reseña; 
}
.Carru{
    margin: 0px;
    padding: 0px;
}
.carousel-item{
    width: 800px;
    height: 500px;
    text-align: center;
    
}
.fondo{
    background-image: url("../img/fondo.png");
    
}

.body__nos{
    background-image: url("../img/fondo.png");
    margin: 5px;
    padding: 5px;
    
}
.body__nos--title{
    padding: 0px;
    margin: 0px;
    animation-duration: 2s;
    animation-name: aparecer;

}
@keyframes aparecer{
    0%{
        opacity: 0;
      }
    100%{
        opacity: 1;
    }  
}
.body__serv{
    background-color: $letras;
    animation-duration: 2s;
    animation-name: aparecer;
   
    
}
.body__serv--text{
        color: white;
        font-size: 15px;
        text-align: center;
        @extend.text__nos--reseña;
}
.barra{
    padding: 0px;
    margin: 0px;
}
.navbar{
    margin: 5px;
    padding: 5px;
}
.navbar-nav{
    background-color: $fondo;
    font-size: 20px;
     
}
.dropdown-menu{
    background-color: $fondo;
}
.text__nos{
    color: black;
    text-align: center;
    font-size: 20px;
}
.text__nos--reseña{
    animation-duration: 4s;
    animation-name: aparecer;
}
.titulo__nos{
   @extend.text__nos--reseña;
}

footer{
    background-color: $fondo;
    font-family: 'Rouge Script',cursive;
    text-align: center;
    font-size: 20px;
    p{
    @if $parrafo==derechos{
        text-align: center;
        color: $letras;
    }@else if $parrafo==perro{
        color: $fondo;
    }
    
}
}
.pie__nos{
    
    background-image: linear-gradient(to top, $fondo, white);
}
.pie__nos--text{
    color: $letras;
}
.card-text{
    text-align: justify;
}
#contacto{
    display: flex;
    justify-content: space-around;
}
#contacto img{
    width: 400px;
    height: auto;
}

#contacto form{
    display: flex;
    flex-direction: column;
    
}
#contacto > div, #contacto > form{
    flex-basis: 20px;
}
#contacto form input, 
#contacto form textarea{
    margin-bottom: 10px;
    max-width: 200px;
}
#contacto form{
    background: $fondo;
    border: 0px;
    margin-top: 0px;
    padding: 3px;
    margin:0px;
}
#contacto form a {
    text-align: center;
    color: white;
    border-radius: 20px;
    
}
#contacto form a:hover{
    color: teal;
    list-style: none;
    text-decoration: none;
}